<script src="/js/usuarios/listagem.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>

<h1>Usuários cadastrados</h1>
<hr>
    <a class="btn btn-primary" style="max-width: 150px;" href="usuarios/cadastrar">Novo Usuário</a>
    <br/>
    <div>
        <table id="tableUsuarios" class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Email</th>
                <th>Nome</th>
                <th>Perfil</th>
                <th>Ativo</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < lista.length; i++)  { %>
                    <tr>
                        <td><%= lista[i].usuarioId %></td>
                        <td><%= lista[i].usuarioEmail %></td>
                        <td><%= lista[i].usuarioNome %></td>
                        <td><%= lista[i].perfilId %></td>
                        <td><%= lista[i].usuarioAtivo %></td>
                        <td>
                            <a href="/usuarios/alterar/<%= lista[i].usuarioId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button data-codigoexclusao="<%= lista[i].usuarioId %>" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
