<script src="/js/Adocao/listar.js"></script>
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<link media="print" href="/css/print.css" rel="stylesheet"> </link>

<h1>Animais adotados</h1>
<div class="print">
    <div class="form-group">
        <label>Termo de busca: </label>
        <input type="text" class="form-control" id="inputBusca">
    </div>
    <div class="form-group">
        <label>Escolha o tipo de busca: </label>
        <label><input value="numero" type="radio" name="tipoBusca"/> Número de adocao </label>
        <label><input  value="animal" type="radio" name="tipoBusca"/> Nome do animal </label>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="btnBuscar"><i class="fas fa-search"></i>Buscar</button>
    </div>
    
    <div style="text-align: end; margin-bottom: 10px;">
        <button class="btn btn-primary" id="btnExportarExcel"><i class="fas fa-file"></i> Exportar para Excel</button>
        <button class="btn btn-primary" onclick="window.print()"><i class="fas fa-file"></i> Exportar para PDF</button>
    </div>
    </div>
<br><br>
<div>
    <table id="tbExcel" class="table table-striped tabelaPedidos">
        <thead>
            <th>Id de Adocao</th>
            <th>Nome do pet</th>
            <th>Imagem</th>
            <th>Descrição</th>
            <th>Disponivel</th>
            <th>Dono</th>
            <th>Endereco</th>
            <th>Telefone</th>
        </thead>
        <tbody>
            <% for(let i = 0; i<lista.length; i++) { %>
                <tr>
                    <td><%= lista[i].adocaoId %></td>
                    <td><%= lista[i].animalNome %></td>
                    <td><img width="80" src="<%= lista[i].animalImagem %>" /></td>
                    <td><%= lista[i].animalDescricao %></td>
                    <%if(lista[i].animalDisponivel == false){%>
                        <td>Adotado</td>
                    <%}else{%>
                        <td>Disponível</td>
                    <%}%>
                    <td><%= lista[i].adocaoNome %></td>
                    <td><%= lista[i].adocaoEndereco %></td>
                    <td><%= lista[i].adocaoTelefone %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>